<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PokePaddle</title>
  <link rel="shortcut icon" href='../images/pokeball3.png'>
  <link rel="stylesheet" type="text/css" href="styles/application.css">
  <script src="javascripts/cookies.js"></script>
  <script src="javascripts/jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="javascripts/phaser.min.js"></script>
  <script type="text/javascript" src="javascripts/ghost_game.js"></script>
</head>
	<audio>
  		<source src="aot.mp3" type="audio/mpeg">
	</audio> 
  <!-- <audio controls>
      <source src="pokemon.mp3" type="audio/mpeg">
  </audio> -->
  <audio src="pika.mp3"></audio>
  <audio src="haunter.mp3"></audio>  
<body id="ghost">
    <form method="post" action="/ghost">
      <p id="high_score" class="ghost_score"></p>
      <input type="submit" value="Submit your best time!">
    </form>
  <!-- phaser will create the canvas and place it here for us -->
  <!-- this logo is actually the only thing I am adding to the body using HTML or CSS -->
  <img src="images/ginoLogo.png" class="picture logo">
</body>
  <script type="text/javascript" src="javascripts/highscore.js"></script>
</html>
