Welcome to PokePaddle!

Press up to throw Pokeball.
Press left to move paddle left and right to move paddle right.
Catch all Pokemon to win!

Your score will be saved when you come back!

<a href="/game">Click here to play the game</a>
<a href="/highscore">Fastest Times</a>