<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>PokéPaddle</title>
    <link rel="shortcut icon" href='../images/pokeball3.png'>
    <link rel="stylesheet" type="text/css" href="styles/application.css">
    <script src="javascripts/cookies.js"></script>
    <script src="javascripts/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="javascripts/phaser.min.js"></script>
    <script type="text/javascript" src="javascripts/modal.js"></script>
    <script type="text/javascript" src="javascripts/game.js"></script>
  </head>
    <audio src="sounds/pokemon.mp3" autoplay loop></audio>
    <audio src="sounds/pika.mp3"></audio> 
  <body>
      <nav>
        <a href="/">Home</a><a href="/ghost">Ghost Mode</a>
      </nav>
      <form method="post" action="/game">
        <p id="high_score"></p>
        <% if cookies[:person_cookie] != nil %>
          <% if cookies[:fastest_time_cookie] != "99999" %>
            <input type="submit" value="Submit your best time!" class="button">
          <% end %>
        <% end %>
      </form>
    <!-- phaser will create the canvas and place it here for us -->
    <img src="images/ginoLogo.png" class="picture logo">
    <!-- modal below -->
    <div class="backdrop"></div>
    <div class="modal">
      <div class="close">x</div>
      <p id="win_statement">You are a Pokémon Master, congrats!</p>
      <img src="images/pikachu.gif" class="pika_gif">
    </div>
    <div class="lose_modal">
      <div class="close">x</div>
      <p id="win_statement">No more Pokéballs, game over!</p>
      <img src="images/sad.gif" class="sad_gif">
    </div>
  </body>
    <script type="text/javascript" src="javascripts/highscore.js"></script>
</html>